.board-detail-main.qna {
    margin-bottom: 0px;
}

.qna-comment-write-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center; 좌우 중앙에 배치 */
    align-items: center;
    /* margin-top: 20px; */
}

.qna-comment-textarea-box {
    /* flex: 1; */
    margin-right: 10px;
}

.qna-detail-comment-textarea {
    font-size: 18px;

    resize: none;
    border: none;
    background: none;

    margin: 50px 400px;
    padding: 20px;
    width: 840px;
    height: 400px;

    line-height: 1.5;
    
    box-sizing: border-box;

    border: 1px solid black;

}

.qna-answer-button {
    padding: 10px 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
    border: none;
}

.qna-answer-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* .board-button, .board-primary-button, .board-disable-button {
    margin: 50px 0px;
} */

.qna-detail-comment-box {
    width: calc(100% - 800px);
}

.qna-detail-comment {
    min-height: 300px;
    margin-top: 10px;
    padding: 20px;

    line-height: 1.5;

    border: 1px solid black;
    box-sizing: border-box;
    white-space: pre-line;
}
