.qna-detail-comment-textarea {
    font-size: 18px;

    resize: none;
    border: none;
    background: none;

    margin: 100px 400px;
    padding: 20px;
    width: 800px;
    height: 400px;

    box-sizing: border-box;

    border: 1px solid black;

}