/* 순번 */
.notice-list-table-number {
    width: 100px;
}

/* 제목 */
.notice-list-table-title {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 조회수 */
.notice-list-table-view-count {
    width: 200px;
}

/* 작성일 */
.notice-list-table-date {
    width: 200px;
}

/* board-container */
.board-section {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    border-top: 2px solid rgb(155, 155, 155);
    border-bottom: 2px solid rgb(155, 155, 155);

    width: 400px;
    height: 60px;
}

.board-container-selected {
    font-weight: bold;
}

.board-container-selected:hover, .board-container-unselected:hover {
    cursor: pointer;
    opacity: 0.85;
}