/* 순번 */
.notice-list-table-number {
    width: 30px;
}

/* 제목 */
.notice-list-table-title {
    width: 345px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 작성일 */
.notice-list-table-view-count {
    width: 54px;
}

/* 작성일 */
.notice-list-table-date {
    width: 54px;
}
