
.notice-regist-update-main {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;

    gap: 20px;
}

.notice-regist-update-title {
    display: flex;
    align-items: center;

    gap: 20px;
    font-size: 20px;
}

.notice-top-regist-update-input {
    width: 500px;

    padding: 10px;

    border: 2px solid rgba(194, 194, 194, 0.6);
    border-radius: 4px;

    font-size: 15px;
}

.notice-regist-update-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notice-regist-update-contents-textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;

    padding: 20px;

    font-size: 16px;
    line-height: 1.5;
    border: 2px solid rgba(194, 194, 194, 0.6);
    border-radius: 4px;
}

.regist-bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;

    gap: 20px;
}
