#wrapper {
    display: grid;
    grid-template-columns: 280px minmax(1182px, 1fr);
    grid-template-rows: 85px minmax(1000px, auto) 320px;
    grid-template-areas:
        "topbar topbar"
        "main main"
        ;
}

/* TopBar */
.topbar {
    grid-area: topbar;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(120, 117, 115, 0.8);
    color: aliceblue;
    font-size: 20px;
    /* font-family: 'SDKukdetopokki'; */
    padding: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1182px;
    /* 다른 요소들과 겹쳤을 때 어떤 요소가 위에 표시될지 */
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.all-category-box {
    flex: 0 0 auto;
}

.logo-container:hover{
    cursor: pointer;
    opacity: 0.85;
}

.logo-button {
    position: absolute; /* 화면 중앙에 고정 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.topbar-right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.topbar-right-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-cloth-button {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
}

.search-cloth-button.search {
    gap: 12px;

    background-image: url('../../assets/image/search-button.png');
}

.topbar-right-user {
    padding: 8px 12px;
}

.top-bar-role {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-button {
    padding: 8px 12px;
}


.topbar-right-cart {
    padding: 8px 12px;
}



/* 메인 */
.main-container {
    grid-area: main;
    min-width: 1182px;
}