.category-button {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 10px 0px;
}

.list-table-top-toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.list-table-th.qna{
    gap: 65px;
}

.list-table-tr.qna{
    gap: 65px;
}

/* 순번 */
.qna-list-table-number {
    width: 30px;

}

/* 유형, 제목 */
.qna-list-table-title {
    width: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qna-list-table-category {
    padding: 0 5px;
}

.primary-bedge {
    /* width: 45px;
    height: 20px; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(45, 104, 255, 0.8);
    border-radius: 10px;
    padding: 0px 5px;

    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}
  
  .disable-bedge {
    /* width: 45px;
    height: 20px; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(238, 238, 238, 1);
    border-radius: 8px;
  
    font-family: 'NanumSquareRound';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(138, 146, 166, 1);
}

/* 작성자 */
.qna-list-table-writer-id {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 작성일 */
.qna-list-table-date {
    width: 100px;
}
