.primary-button {
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 148, 45, 1);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.second-button {
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(245, 138, 35, 0.8);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(250, 250, 250, 1);
}

.second-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.error-button {
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(170, 170, 170, 1);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.error-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.disable-button {
    width: 70px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(150, 150, 150, 1);
    border-radius: 6px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.primary-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.sns-button {
    width: 56px;
    height: 56px;

    border-radius: 56px;
}

.sns-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.toggle {
    width: 35px;
    height: 20px;

    background-size: 100% 100%;
    background-image: url(assets/image/toggle.png);

    cursor: pointer;
}

.toggle-active {
    width: 35px;
    height: 20px;

    background-size: 100% 100%;
    background-image: url(assets/image/toggle-active.png);

    cursor: pointer;
}

.text-link {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    color: rgba(113, 113, 113, 1);
}

.text-link:hover {
    cursor: pointer;
    opacity: 0.85;
}

.short-divider {
    width: 64px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.full-width {
    width: 100%;
}

.primary {
    color: rgb(0, 0, 255, 1);
}

.error {
    color: rgba(255, 0, 0, 1);
}

#main-wrapper::-webkit-scrollbar {
    display: none;
}

#main-wrapper {
    scrollbar-width: none;
}

/* 각 페이지 큰 title CSS */
.page-big-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 50px;

    font-size: 30px;
    font-weight: 400px;
    line-height: 25px;
}

.page-big-title:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* 테이블 CSS */
.list-table-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-table-total-board {
    font-size: 16px;
    font-weight: 400px;

    padding: 20px 0px 5px 100px;

    color: rgba(138, 146, 166, 1);
}

.list-table-total-board .emphasis {
    color: rgba(64, 64, 64, 1);
}

.list-table-top-right {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 20px 100px 5px 0px;
}

.qna-list-top-admin-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(64, 64, 64, 1);
}

.list-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    padding: 0px 100px;

    /* border: 1px solid rgba(238, 238, 238, 1); */
    /* border-radius: 8px; */

    background-color: rgba(255, 255, 255, 1);
}

.list-table-th,
.list-table-tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba(238, 238, 238, 1);
    box-sizing: border-box;
    /* 테두리와 패딩을 포함한 전체 너비 계산 */
}

.list-table-th {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    /* 헤더 하단 테두리 */
}

.list-table-tr {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.list-table-tr:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.2);
}

.list-table-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.list-table-pagenation {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
    padding: 100px;
}

.list-table-page-left {
    width: 40px;
    height: 40px;

    background-size: 100% 100%;
    background-image: url('assets/image/page-left.png');

    cursor: pointer;
}

.list-table-page-right {
    width: 40px;
    height: 40px;

    background-size: 100% 100%;
    background-image: url('assets/image/page-right.png');

    cursor: pointer;
}

.list-table-page-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-table-page {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(138, 146, 166, 1);

    cursor: pointer;
}

.list-table-page-active {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(64, 64, 64, 1);

    cursor: default;
}

.list-table-search-box {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;

    padding: 5px 100px 100px 0px;
}

.list-table-search-input-box {
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 8px 16px;
    width: 168px;

    background-color: rgba(255, 255, 255, 1);
}

.list-table-search-input {
    border: none;
    outline: none;
    background: none;

    width: 100%;

    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64, 64, 64, 1);
}

/* board 버튼 */
.board-button {
    width: 30px;
    height: 20px;
    padding: 12px;
    background-color: rgba(80, 190, 150, 0.5);
    border-radius: 4px;
}
.board-button:hover {
    cursor: pointer;
    opacity: 0.85;
}

/* 파일 CSS */
.file-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 15px;
    gap: 10px;
}

.file-image {
    width: 400px;
    height: 400px;
}